{# HTML 5 shiv to allow HTML tags such as nav, header, etc to work in IE8 #}
  {# See: https://frontend.design-system.service.gov.uk/supporting-ie8/#support-internet-explorer-8 #}
<!--[if lt IE 9]>
    <script nonce="{{ nonce }}" src="{{ casa.mountUrl }}js/html5shiv.min.js"></script>
<![endif]-->

<!--[if !IE]><!-->
    <script nonce="{{ cspNonce }}" src="{{ casa.mountUrl }}js/ui-ds1500-frontend.js?{{ version }}"></script>
<!--<![endif]-->

<script nonce="{{ cspNonce }}" type="application/javascript">
    var isIE11 = !!window.MSInputMethodContext && !!document.documentMode;

    if (isIE11) {
        document.write('<script nonce="{{ cspNonce }}" src="{{ casa.mountUrl }}js/ui-ds1500-frontend.js?{{ version }}"><\/script>');
    }
</script>
<script{%- if cspNonce %} nonce="{{ cspNonce }}"{% endif -%}>GOVUKFrontend.initAll()</script>
