{% from 'macros/site.njk' import gtmIframe %}
{% from "macros/site.njk" import cookieBanner with context %}

<input type="hidden" id="SESSIONS_TTL" value="{{SESSIONS_TTL}}" />
{% if cookieChoiceMade and cookiesConsented === 'accept' %}
{{ gtmIframe('N7JGL8W') }}
{% endif %}
{{cookieBanner()}}
