{% from "macros/site.njk" import cookieBanner with context %}

<input type="hidden" id="SESSIONS_TTL" value="{{SESSIONS_TTL}}" />

{# Google Tag Manager snippet #}
{%- if consentCookieValue === "accept" -%}
    {% include "partials/gtm-noscript.njk" %}
{%- endif %}

{{cookieBanner()}}
