<aside id="global-cookie-message" class="casa-cookie-banner govuk-!-padding-top-4 govuk-!-padding-bottom-2" role="region" aria-label="cookie banner">
  <div class="casa-cookie-banner--accept govuk-width-container govuk-body" tabindex="-1">
    <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-3">{{ t("cookie-message:youAccepted", { url: '/cookie-policy?previousPage=' + currentPage | escape }) | safe }}</p>
    <a id="btn_hide-banner" href="#" class="casa-cookie-banner--hide govuk-link govuk-!-margin-top-1  govuk-!-margin-bottom-3">{{ t("cookie-message:hide") }}</a>
  </div>
</aside>
