<script nonce="{{nonce}}" src="{{ casa.mountUrl }}js/jquery.min.js"></script>
<script nonce="{{nonce}}" src="{{ casa.mountUrl }}js/hide-cookie-banner.js"></script>
{# remove validation
    @TODO figure out if we want this to be removed permanently (needs user research)
<script nonce="{{nonce}}" src="{{ casa.mountUrl }}js/parsley.js"></script>
<script nonce="{{nonce}}" src="{{ casa.mountUrl }}js/validation.js"></script>
#}
<!--[if lte IE 8]>
<style nonce="{{nonce}}">
    h2 {
        clear: both
    }
</style>
<script nonce="{{nonce}}">
// element.hasAttribute polyfill
if (!window.Element || !window.Element.prototype || !window.Element.prototype.hasAttribute) {
    (function () {
        function hasAttribute (attrName) {
            return typeof this[attrName] !== 'undefined';
        }
        var inputs = document.getElementsByTagName('input');
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].hasAttribute = hasAttribute;
        }
        var textareas = document.getElementsByTagName('textarea');
        for (var j = 0; j < textareas.length; j++) {
            textareas[j].hasAttribute = hasAttribute;
        }
    }());
}
</script>
<![endif]-->