{% include "casa/partials/styles.njk" %}
{% include "partials/styles.njk" %}

<link href="{{ casa.mountUrl }}css/application.css?{{ version }}" rel="stylesheet"/>

{# Google Tag Manager snippet #}
{% include "partials/gtm-script.njk" %}


{% include "partials/timeout-dialog/timeout-dialog.njk" %}