{# Page styles #}
<!--[if gt IE 8]><!--><link href="{{ casa.mountUrl }}css/ui-ds1500-frontend.css?{{ version }}" rel="stylesheet" /><!--<![endif]-->
<!--[if lte IE 8]><link href="{{ casa.mountUrl }}css/ui-ds1500-frontend-ie8.css?{{ version }}" rel="stylesheet" /><![endif]-->
