{% extends "layouts/app-error.njk" %}

{% block casaPageTitle %}
  {{ t('404:pageTitle') }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ t('404:h1') }}</h1>
        <p class="govuk-body">{{ t('404:p1') }}</p>
        {{ t('404:p2') | safe }}
    </div>
     <div class="govuk-grid-column-one-third">
      {% include "casa/partials/journey-sidebar.njk" %}
     </div>
</div>
{% endblock %}
