.sass-cache/
.DS_Store
node_modules
npm-debug.log
logs/
.idea/
sessions/
static/**/*
.nyc_output
coverage
dist/
reports
gitlab-ci/
.gitlab-ci.yml
.npmrc
.env.example
**/test-pdfs/*
sonar-project.properties