{% extends "casa/layouts/main.njk" %}
{% from 'macros/site.njk' import gtmIframe %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/footer/macro.njk" import govukFooter with context%}

{% block head %}
{# {{super()}} #}
  {% include "partials/head-common.njk" %}
{% endblock %}

{% block skipLink %}
{% include "partials/skip-link.njk" %}
{% endblock %}

{% block bodyStart %}
  {% include "partials/common-body-start.njk" %}
{% endblock %}

{% block bodyEnd %}
{{super()}}
{% include "partials/end-common.njk" %}
<script nonce="{{nonce}}" src="{{ casa.mountUrl }}js/hide-cookie-banner.js"></script>
{% endblock %}

{% block beforeContent %}
  {% set phaseBannerContent %}
    {{t('phase-banner-beta:phase-banner-text-1')}} <a class="govuk-link" href="/feedback" target="_blank" rel="noopener noreferrer">{{t('phase-banner-beta:feedback')}}</a> {{t('phase-banner-beta:phase-banner-text-2')}}
  {% endset %}
<aside>
  {{ govukPhaseBanner({
  tag: {
    text: t('phase-banner-beta:tag-text')
  },
  html: phaseBannerContent
}) }}
</aside>
{% endblock %}

{% block footer %}
{# <p>{{ getContext() | dump| safe }}</p> #}
{% include "partials/footer.njk" %}
{% endblock  %}

