{% extends "./app-main.njk" %}

{% block casaPageTitle %}
  {{ t('500:pageTitle') }}
{% endblock %}

{% block beforeContent %}
  {% set phaseBannerContent %}
    {{t('phase-banner-beta:phase-banner-text-1')}} <a class="govuk-link" href="/feedback" target="_blank" rel="noopener noreferrer">{{t('phase-banner-beta:feedback')}}</a> {{t('phase-banner-beta:phase-banner-text-2')}}
  {% endset %}
<aside>
  {{ govukPhaseBanner({
  tag: {
    text: t('phase-banner-beta:tag-text')
  },
  html: phaseBannerContent
}) }}
</aside>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ t('500:h1') }}</h1>
      <p class="govuk-body">{{ t('500:p1') }}</p>
      <p class="govuk-body">{{ t('500:p2') }}</p>
      <p class="govuk-body">{{ t('500:p3') | safe }}</p>
      <p class="govuk-body">{{ t('500:p4') }}</p>
      <h2 class="govuk-heading-m">{{ t('500:h2') }}</h2>
      <p class="govuk-body">{{ t('500:p5') }}</p>
        <p class="govuk-body">{{ t('500:section1.p1') }}</p>
            <ul class="govuk-list govuk-list--bullet form-group">
                <li><kbd>{{ t('500:section1.ul1.li1')}}</kbd></li>
                <li><kbd>{{ t('500:section1.ul1.li2')}}</kbd></li>
                <li><kbd>{{ t('500:section1.ul1.li3')}}</kbd></li>
                <li><kbd>{{ t('500:section1.ul1.li4')}}</kbd></li>
                <li><kbd>{{ t('500:section1.ul1.li5')}}</kbd></li>
            </ul>
        <p class="govuk-body">{{t('500:section1.p2') | safe }}</p>
            <ul class="govuk-list govuk-list--bullet form-group">
                <li>{{ t('500:section1.ul2.li1')}}</li>
                <li>{{ t('500:section1.ul2.li2')}}</li>
            </ul>
      <p class="govuk-body">{{ t('500:p6') }}</p>
    </div>
</div>
{% endblock %}
