{% extends "layouts/app-main.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "macros/site.njk" import fmtTitle with context %}
{% block casaPageTitle %}
    {{ fmtTitle('confirmation:pageTitle') }}
{% endblock %}
{% block content %}
    {# {{getContext() | dump | safe}} #}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-5">
            {{ govukPanel({
                titleText: t('confirmation:pageTitle'),
                headingLevel: 1,
                html: t('confirmation:panel.text')
            }) }}
            <h2 class="govuk-heading-l govuk-!-padding-top-5">{{ t('confirmation:h2') }}</h2>
            <p class="govuk-body">{{ t('confirmation:p1') }}</p>
            <p class="govuk-body">{{ t('confirmation:p2') }}</p>
            <p class="govuk-body govuk-!-padding-bottom-5">
                <form action="ds1500-start" method="post" class="form" autocomplete="off" novalidate>
                    <button type="submit" class="submit-link govuk-link">{{ t('confirmation:sendAnother') }}</button>
                </form>
            </p>
            <p class="govuk-body">
                <a href="{{ casa.mountUrl }}feedback" class="govuk-link" target="_blank">{{ t('confirmation:feedbackLinkText') }}</a>
                {{ t('confirmation:feedbackTime') }}
            </p>
        </div>
        <div class="govuk-grid-column-one-third">
            {% include "partials/inset-talk-to-advisor.njk" %}
        </div>
    </div>
{% endblock %}