{% extends "layouts/app-main.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block casaPageTitle %}
  {{ t('ds1500-start:pageTitle') }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ t('ds1500-start:h1') }} </h1>

    <div class="form-group">
      <p>{{ t('ds1500-start:p1') }}</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
        <li class="govuk-!-margin-bottom-0">{{ t('ds1500-start:li1') }}</li>
      </ul>
        <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-1">{{ t('ds1500-start:and') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('ds1500-start:li2') }}</li>
      </ul>

      <div class="govuk-inset-text">
      You will not face any negative consequences from the factual information you supply, for example if your patient lives longer than 6 months.
      </div>
      <p>{{ t('ds1500-start:p2') }}</p>
    </div>

    <div class="form-group">
      {{ govukButton({
        text: t('ds1500-start:startNow'),
        href: casa.mountUrl + 'ds1500',
        isStartButton: true
      }) }}
    </div>
  </div>
  
  <div class="govuk-grid-column-one-third">
    {% include "partials/inset-talk-to-advisor.njk" %}
  </div>
</div>
{% endblock %}
