{% extends "layouts/app-journey.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block casaPageTitle %}
  {{ t('ds1500-start:pageTitle') }}
{% endblock %}

{% set notificationHtml %}
  <p class="govuk-notification-banner__heading">
    {{ t('ds1500-start:notificationText', { url: '/additional-guidance#changes-to-special-rules' }) | safe }}
  </p>
{% endset %}

{% block journey_form %}
      {{ govukNotificationBanner({
        html: notificationHtml
      }) }}
    <h1 class="govuk-heading-l">{{ t('ds1500-start:h1') }} </h1>

    <div class="form-group">
      <p>{{ t('ds1500-start:p1') }}</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
        <li class="govuk-!-margin-bottom-0">{{ t('ds1500-start:li1') }}</li>
      </ul>
      <div class="govuk-inset-text">
        {{ t('ds1500-start:insetText') }}
      </div>
    </div>

      {{ govukButton({
        text: t('ds1500-start:startNow'),
        isStartButton: true
      }) }}
{% endblock %}
