{% extends "layouts/app-main.njk" %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block casaPageTitle %}
  {{ t('ds1500-start:pageTitle') }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <header>
      <h1 class="govuk-heading-l">{{ t('ds1500-start:h1') }} </h1>
    </header>

    <div class="form-group">
      <p>{{ t('ds1500-start:p1') }}</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
        <li class="govuk-!-margin-bottom-0">{{ t('ds1500-start:li1') }}</li>
      </ul>
        <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-1">{{ t('ds1500-start:and') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('ds1500-start:li2') }}</li>
      </ul>

      <div class="govuk-inset-text">
      You will not face any negative consequences from the factual information you supply, for example if your patient lives longer than 6 months.
      </div>
      <p>{{ t('ds1500-start:p2') }}</p>
    </div>

    <div class="form-group">
      {{ govukButton({
        text: t('ds1500-start:startNow'),
        href: casa.mountUrl + 'ds1500',
        isStartButton: true
      }) }}
    </div>

    {% set sectionWhen %}
    {% include 'partials/ds1500-start/when.njk' %}
    {% endset %}

    {% set sectionWho %}
    {% include 'partials/ds1500-start/who.njk' %}
    {% endset %}

    {% set sectionHow %}
    {% include 'partials/ds1500-start/how.njk' %}
    {% endset %}

    {% set sectionWhat %}
    {% include 'partials/ds1500-start/what.njk' %}
    {% endset %}

    {% set sectionClaiming %}
    {% include 'partials/ds1500-start/claiming.njk' %}
    {% endset %}

    {% set sectionBenefits %}
    {% include 'partials/ds1500-start/benefits.njk' %}
    {% endset %}

    {% set sectionAdditional %}
    {% include 'partials/ds1500-start/additional.njk' %}
    {% endset %}

    {{ govukAccordion({
      id: "ds1500-start-accordion",
      items: [
        {
          heading: {
            text: "When you should complete the DS1500 Report Form"
          },
          content: {
            html: sectionWhen
          }
        },
        {
          heading: {
            text: "Who should complete the DS1500 Report Form"
          },
          content: {
            html: sectionWho
          }
        },
        {
          heading: {
            text: "How this form will be used by DWP"
          },
          content: {
            html: sectionHow
          }
        },
        {
          heading: {
            text: "What to do with the completed form"
          },
          content: {
            html: sectionWhat
          }
        },
        {
          heading: {
            text: 'Claiming a fee'
          },
          content: {
            html: sectionClaiming
          }
        },
        {
          heading: {
            text: 'Benefits that can be claimed under special rules'
          },
          content: {
            html: sectionBenefits
          }
        },
        {
          heading: {
            text: t('ds1500-start:accordionSections.additional.heading')
          },
          content: {
            html: sectionAdditional
          }
        }
      ]
    }) }}
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "partials/inset-talk-to-advisor.njk" %}
  </div>
</div>
{% endblock %}
