{% extends "layouts/app-journey.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block casaPageTitle %}
  {{ t('sr1-start:pageTitle') }}
{% endblock %}

{% set notificationHtml %}
  <p class="govuk-notification-banner__heading">
    {{ t('sr1-start:notificationText', { url: '/additional-guidance#changes-to-special-rules' }) | safe }}
  </p>
{% endset %}

{% block journey_form %}
      {{ govukNotificationBanner({
        html: notificationHtml
      }) }}
    <h1 class="govuk-heading-l">{{ t('sr1-start:h1') }} </h1>
    <div class="govuk-inset-text">
        {{ t('sr1-start:insetText') }}
    </div>
    <div class="form-group">
      <p>{{ t('sr1-start:p1') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('sr1-start:li1') }}</li>
        <li>{{ t('sr1-start:li2') }}</li>
      </ul>
    </div>

      {{ govukButton({
        text: t('sr1-start:startNow'),
        isStartButton: true
      }) }}
{% endblock %}
