{% extends "layouts/app-main.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block casaPageTitle %}
  {{ t('sr1-form-request:pageTitle') }}
{% endblock %}

{% block beforeContent %}
{{ super() }}
<nav>
  {{ govukBackLink({
    text: "Back",
    href: casa.journeyPreviousUrl
  }) }}
</nav>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ t('sr1-form-request:h1') }} </h1>
    <p class="govuk-body">{{ t('sr1-form-request:p1') }}</p>
    <p class="govuk-body">{{ t('sr1-form-request:p2') }}</p>
    <h2 class="govuk-heading-m">{{ t('sr1-form-request:h2.1') }}</h2>
    <p class="govuk-body">{{ t('sr1-form-request:p3') | safe }}</p>
    <p class="govuk-body">{{ t('sr1-form-request:p4') }}</p>
    <p class="govuk-body">{{ t('sr1-form-request:p5') }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('sr1-form-request:list1.1') }}</li>
        <li>{{ t('sr1-form-request:list1.2') }}</li>
        <li>{{ t('sr1-form-request:list1.3') }}</li>
    </ul>
    <h2 class="govuk-heading-m">{{ t('sr1-form-request:h2.2') }}</h2>
    <p class="govuk-body">{{ t('sr1-form-request:p6', { url: 'https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fassets.publishing.service.gov.uk%2Fgovernment%2Fuploads%2Fsystem%2Fuploads%2Fattachment_data%2Ffile%2F1054681%2Fexternal-order-form-for-dwp-information-materials.docx&wdOrigin=BROWSELINK' }) | safe }}</p>
    <p class="govuk-body">{{ t('sr1-form-request:p7') }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('sr1-form-request:list2.1') }}</li>
        <li>{{ t('sr1-form-request:list2.2') }}</li>
    </ul>
    <p class="govuk-body">{{ t('sr1-form-request:p8') }}</p>
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "partials/inset-talk-to-advisor.njk" %}
  </div>
</div>
{% endblock %}
