{% extends "layouts/app-main.njk" %}
{% from "macros/site.njk" import fmtTitle with context %}
{% block casaPageTitle %}{{ fmtTitle('thankyou:pageTitle') }}{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ t('thankyou:pageTitle') }}</h1>
        <p class="govuk-body">{{ t('thankyou:p1') }}</p>

        <p class="govuk-body">{{ t('thankyou:p2') }}</p>

        <p class="govuk-body">{{ t('thankyou:p3') }}<span class="govuk-label--s">{{ t('thankyou:p4') }}</span>{{ t('thankyou:p5') }}</p>

    </div>
</div>
{% endblock %}
