<p class="govuk-body">{{ t('ds1500-start:accordionSections.additional.p1') }}</p>
<p class="govuk-body"><strong>{{ t('ds1500-start:accordionSections.additional.p2') }}</strong></p>
<p class="govuk-body">{{ t('ds1500-start:accordionSections.additional.p3') }}</p>
<ul class="govuk-list govuk-list--bullet">
  <li>{{ t('ds1500-start:accordionSections.additional.ul.li1') }}</li>
  <li>{{ t('ds1500-start:accordionSections.additional.ul.li2') }}</li>
</ul>
<div class="govuk-!-padding-bottom-2"></div>