<p class="govuk-body">{{ t('ds1500-start:accordionSections.benefits.p1') }}</p>
<ul class="govuk-list govuk-list--bullet">
  <li>{{ t('ds1500-start:accordionSections.benefits.ul.li1') }}</li>
  <li>{{ t('ds1500-start:accordionSections.benefits.ul.li2') }}</li>
  <li>{{ t('ds1500-start:accordionSections.benefits.ul.li3') }}</li>
  <li>{{ t('ds1500-start:accordionSections.benefits.ul.li4') }}</li>
  <li>{{ t('ds1500-start:accordionSections.benefits.ul.li5') }}</li>
</ul>
<p class="govuk-body">{{ t('ds1500-start:accordionSections.benefits.p2') }}</p>
<div class="govuk-!-padding-bottom-2"></div>