<p class="govuk-body">{{ t('ds1500-start:accordionSections.claiming.p1') }}</p>
<p class="govuk-body">{{ t('ds1500-start:accordionSections.claiming.p2') }}</p>
<p class="govuk-body">{{ t('ds1500-start:accordionSections.claiming.p3') }}</p>
<div class="govuk-inset-text">
  {{ t('ds1500-start:accordionSections.claiming.p4') }}
</div>
<p class="govuk-body"><strong>{{ t('ds1500-start:accordionSections.claiming.p5') }}</strong></p>
<p class="govuk-body">{{ t('ds1500-start:accordionSections.claiming.p6') | safe }}</p>
<p class="govuk-body"><strong>{{ t('ds1500-start:accordionSections.claiming.p7') }}</strong></p>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      {{ t('ds1500-start:accordionSections.claiming.summaryList.text') }}
    </span>
  </summary>
  <div class="govuk-details__text">
    {# item 1 #}
    <div class="org-item">
      <h3 class="govuk-fieldset__heading">
        <strong>{{ t('ds1500-start:accordionSections.claiming.summaryList.item1.name') }}</strong>
      </h3>

      <div id="details-hint" class="govuk-hint">
        {{ t('ds1500-start:accordionSections.claiming.summaryList.item1.hint') }}
      </div>
      <ul class="govuk-list">
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item1.address1') }}</li>
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item1.address2') }}</li>
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item1.city') }}</li>
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item1.postcode') }}</li>
      </ul>
      <ul class="govuk-list govuk-!-padding-bottom-4">
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item1.contact1') }}</li>
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item1.contact2') }}</li>
      </ul>
    </div>

    {# item 2 #}
    <div class="org-item">
      <h3 class="govuk-fieldset__heading">
        <strong>{{ t('ds1500-start:accordionSections.claiming.summaryList.item2.name') }}</strong>
      </h3>

      <div id="details-hint" class="govuk-hint">
        {{ t('ds1500-start:accordionSections.claiming.summaryList.item2.hint') }}
      </div>
      <div class="govuk-!-padding-bottom-0"></div>
      <ul class="govuk-list">
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item2.address1') }}</li>
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item2.address2') }}</li>
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item2.city') }}</li>
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item2.postcode') }}</li>

      </ul>
      <ul class="govuk-list govuk-!-padding-bottom-4">
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item2.contact1') }}</li>
      </ul>
    </div>
    {# item 3 #}
    <div class="org-item">
      <h3 class="govuk-fieldset__heading">
        <strong>{{ t('ds1500-start:accordionSections.claiming.summaryList.item3.name') }}</strong>
      </h3>

      <div id="details-hint" class="govuk-hint">
        {{ t('ds1500-start:accordionSections.claiming.summaryList.item3.hint') }}
      </div>

      <ul class="govuk-list">
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item3.address1') }}</li>
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item3.address2') }}</li>
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item3.address3') }}</li>
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item3.city') }}</li>
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item3.postcode') }}</li>
      </ul>
      <ul class="govuk-list govuk-!-padding-bottom-4">
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item3.contact1') }}</li>
      </ul>
    </div>
    {# item 4 #}
    <div class="org-item">
      <h3 class="govuk-fieldset__heading">
        <strong>{{ t('ds1500-start:accordionSections.claiming.summaryList.item4.name') }}</strong>
      </h3>

      <ul class="govuk-list">
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item4.address1') }}</li>
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item4.address2') }}</li>
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item4.city') }}</li>
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item4.postcode') }}</li>
      </ul>
      <ul class="govuk-list govuk-!-padding-bottom-4">
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item4.contact1') }}</li>
      </ul>
    </div>

    {# item 5 #}
    <div class="org-item">
      <h3 class="govuk-fieldset__heading">
        <strong>{{ t('ds1500-start:accordionSections.claiming.summaryList.item5.name') }}</strong>
      </h3>

      <ul class="govuk-list">
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item5.address1') }}</li>
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item5.address2') }}</li>
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item5.city') }}</li>
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item5.postcode') }}</li>
      </ul>
      <ul class="govuk-list">
        <li>{{ t('ds1500-start:accordionSections.claiming.summaryList.item5.contact1') }}</li>
      </ul>
    </div>
  </div>
</details>

<div class="govuk-!-padding-bottom-2"></div>