<p class="govuk-body">{{t('ds1500-start:accordionSections.how.p1')}}</p>
<p class="govuk-body">{{t('ds1500-start:accordionSections.how.p2')}}</p>
<p class="govuk-body">{{t('ds1500-start:accordionSections.how.p3')}}</p>
<div class="govuk-!-padding-bottom-2"></div>