<h3 class="govuk-heading-s">
  {{t('ds1500-start:accordionSections.what.h3_1')}}
</h3>
<p class="govuk-body" class="govuk-body">{{t('ds1500-start:accordionSections.what.p1')}}</p>
<h3 class="govuk-heading-s">
  {{ t('ds1500-start:accordionSections.what.h3_2') }}
</h3>
<p class="govuk-body" class="govuk-body">{{ t('ds1500-start:accordionSections.what.p2') }}</p>

<p class="govuk-body" class="govuk-body">{{ t('ds1500-start:accordionSections.what.p3') }}</p>

<ul class="govuk-list govuk-list--bullet">
  <li>{{ t('ds1500-start:accordionSections.what.list.li1') }}</li>
  <li>{{ t('ds1500-start:accordionSections.what.list.li2') }}</li>
  <li>{{ t('ds1500-start:accordionSections.what.list.li3') }}</li>
  <li>{{ t('ds1500-start:accordionSections.what.list.li4') }}</li>
</ul>

<p class="govuk-body" class="govuk-body">{{ t('ds1500-start:accordionSections.what.p4') | safe }}</p>

<p class="govuk-body" class="govuk-body">{{ t('ds1500-start:accordionSections.what.p5') | safe }}</p>

<h3 class="govuk-heading-s">
  {{ t('ds1500-start:accordionSections.what.h3_3') }}
</h3>

<p class="govuk-body" class="govuk-body">{{ t('ds1500-start:accordionSections.what.p6') }}</p>

<p class="govuk-body" class="govuk-body">{{ t('ds1500-start:accordionSections.what.p7') }}</p>
<div class="govuk-!-padding-bottom-2"></div>