<p class="govuk-body" class="govuk-body">{{ t('ds1500-start:accordionSections.when.p1') }}</p>
<h3 class="govuk-heading-s">
  {{ t('ds1500-start:accordionSections.when.h3_1') }}
</h3>
<p class="govuk-body">{{ t('ds1500-start:accordionSections.when.p2') }}</p>
<h2 class="govuk-heading-s">
  {{ t('ds1500-start:accordionSections.when.h3_2') }}
</h2>
<p class="govuk-body">{{ t('ds1500-start:accordionSections.when.p3') }}</p>
<h2 class="govuk-heading-s">
  {{ t('ds1500-start:accordionSections.when.h3_3') }}
</h2>
<p class="govuk-body">{{ t('ds1500-start:accordionSections.when.p4') }}</p>
<div class="govuk-!-padding-bottom-2"></div>
