<p class="govuk-body">{{ t('ds1500-start:accordionSections.who.p1') }}</p>

<ul class="govuk-list govuk-list--bullet">
  <li>{{ t('ds1500-start:accordionSections.who.list.li1') }}</li>
  <li>{{ t('ds1500-start:accordionSections.who.list.li2') }}</li>
  <li>{{ t('ds1500-start:accordionSections.who.list.li3') }}</li>
</ul>

<div class="govuk-inset-text">
{{ t('ds1500-start:accordionSections.who.p2') }}
</div>

<div class="govuk-!-padding-bottom-2"></div>