{% extends "layouts/app-main.njk" %}
{% from "macros/site.njk" import fmtTitle with context %}

{% block casaPageTitle %}
  {{ fmtTitle('session-timeout:pageTitle') }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <header>
      <h1 class="govuk-heading-l">{{ t('session-timeout:pageTitle') }} </h1>
    </header>

    <p>{{ t('session-timeout:p1') }}</p>
    <p>{{ t('session-timeout:p2') }}</p>
    <p>{{ t('session-timeout:p3') | safe }}</p>
  </div>
</div>
{% endblock %}
