@import "_colours.scss";
@import "_grid_layout.scss";
@import 'typography';
@import "node_modules/govuk-frontend/govuk/all";

@import 'cookie-banner';

.organisation-logo {
  @extend .govuk-body;
  margin-top: 15px;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 0;
  padding: 3px 0 2px 44px;
  background-image: url(https://www.gov.uk/assets/whitehall/crests/org_crest_27px-916806dcf065e7273830577de490d5c7c42f36ddec83e907efe62086785f24fb.png);
  background-position: 6px center;
  background-repeat: no-repeat;
  background-size: auto 25px;
  border-left: 2px solid #009390;
}

p {
  @extend .govuk-body;
}



.organisation-logo {
  @extend .govuk-body;
  margin-top: 15px;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 0;
  padding: 3px 0 2px 44px;
  background-image: url(https://www.gov.uk/assets/whitehall/crests/org_crest_27px-916806dcf065e7273830577de490d5c7c42f36ddec83e907efe62086785f24fb.png);
  background-position: 6px center;
  background-repeat: no-repeat;
  background-size: auto 25px;
  border-left: 2px solid #009390;
}

#global-cookie-message {
  margin-bottom: 0;
  @extend .govuk-body;
  p {
    @extend .govuk-body;
  }
}
p {
  @extend .govuk-body;
}

/* ------------------------------------------------------------------ Sidebar */

#ad-helpline {
  border-top: 3px solid #28A197;
  margin-top: 45px;
  padding-top: 5px;

  a{
    font-size: 18px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}

#ad-helpline p {
  margin-bottom: 10px;
}

@media (max-width: 640px) {
  #ad-helpline {
    float: left;
    width: 100%;
    margin-top: 30px;
  }
}

/* ------------------------------------------------- Form element adjustments */
textarea {
  min-height: 150px;
}
.link-back{
  margin-bottom: 0;
}

.address-block :last-child.form-group-compound {
  margin-bottom: 10px;
}

.form-date label{
  color: #6f777b;
}


// Styles for Download your documents section

.govuk-box-highlight {
    padding: 1px 20px 10px;
    text-align: left;
}

.doc-title {
    font-size: 1.4em;
}

.govspeak .attachment:first-child, .gem-c-govspeak .attachment:first-child {
  margin-top: 0px;
  padding-top: 0px;
}

.govspeak .attachment, .gem-c-govspeak .attachment {
  position: relative;
  margin: 30px 0px;
  padding: 15px 0px 0px 129px;
}

.attachment {
  margin-bottom: 30px;
}

@media (min-width: 40.0625em) {
  .govspeak, .gem-c-govspeak {
      font-size: 16px;
      line-height: 1.25;
  }
}

.govspeak, .gem-c-govspeak {
  color: rgb(11, 12, 12);
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14286;
}

.govspeak .attachment::after, .gem-c-govspeak .attachment::after {
  content: "";
  display: block;
  clear: both;
}

.govspeak .attachment .attachment-thumb, .gem-c-govspeak .attachment .attachment-thumb {
  position: relative;
  float: left;
  margin-top: 5px;
  margin-left: -124px;
  padding-bottom: 15px;
}

.govspeak a:link, .gem-c-govspeak a:link {
  color: rgb(29, 112, 184);
}

.govspeak a, .gem-c-govspeak a {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-underline-offset: 0.1em;
  text-decoration: underline max(1px, 0.0625rem);
}

.govspeak img, .gem-c-govspeak img {
  width: auto;
  height: auto;
  max-width: 100%;
}

.govspeak .attachment .attachment-thumb img, .gem-c-govspeak .attachment .attachment-thumb img {
  display: block;
  width: 99px;
  height: 140px;
  box-shadow: rgba(11, 12, 12, 0.4) 0px 2px 2px;
  background: rgb(255, 255, 255);
  outline: rgba(11, 12, 12, 0.1) solid 5px;
}

.govspeak h3, .gem-c-govspeak h3 {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 35px;
  margin-bottom: 0px;
}

.gem-c-govspeak h3:first-child {
  margin-top: 0;
}

@media (min-width: 40.0625em) {
  .govspeak h3, .gem-c-govspeak h3 {
      font-size: 19px;
      line-height: 1.31579;
  }
}

.increase-bottom-margin {
    margin-bottom: 35px;
}

.alert-warning {
    border-color: $error-colour;
    background-color: #fceaeb;
}

.parsley-errors-list {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding-left: 0;
}

.parsley-error {
    margin-right: 15px;
    border-left: 4px solid $error-colour;
    padding-left: 10px;
}
@media (min-width: 641px){
  .parsley-error {
      border-left: 5px solid $error-colour;
      padding-left: 15px;
  }
}
.parsley-error {
    .form-control-error,
    .form-control {
        border: 4px solid $error-colour;
    }
    textarea {
        border: 4px solid $error-colour;
    }
}

.validation-message {
    @include core-19;
    color: $error-colour;
    font-weight: bold;
}

.submit-link {
  background: none;
  border: none;
  color: #1D70B8;
  text-decoration: underline;
  cursor: pointer;
  margin:0; padding:0;
  outline: none;
  font-size: 19px;

  &:visited{
    color: #4c2c92;
  }

  &:focus {
    @include govuk-focused-text;
  }
}

.submit-link2 {
  @extend .govuk-link;
}

#main-content {
  padding-top: govuk-spacing(4);
  padding-bottom: govuk-spacing(4);
}

@media (min-width: 641px){
  .easy-autocomplete-container {
    width: 75%;
  }
  #main-content {
    padding-top: govuk-spacing(7);
    padding-bottom: govuk-spacing(7);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), not all, not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx){
  .button-start, .button-get-started {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAmBAMAAABqn+W8AAAABGdBTUEAALGPC/xhBQAAACRQTFRF////////////////////////////////////////AAAA////JdLbegAAAAt0Uk5TUCYdMI/vOZ9gmQBLrRwtAAAAnUlEQVQ4y53Tuw0CQQxFUceUQAmUQEgLdEELVMDGq5WoAOQcCWmaY/2ZieY64KVHN7Is97bvc9b55GXcrsRa5qJlLpr5gTjyL3HkbSEucuMid+bcmfNgzIMxT6Y8mfLOkHeGfPA8H5yH+5PfT9tG/HC+Ac/jwfO4M8SdIU6mOJniYIyDMXbm2Jlj4yI29ng9Akd8oQeO+ARcxiplrD/8gOtRTTm3HAAAAABJRU5ErkJggg==');
  }
}

#global-header #logo {
  background: none;
  padding-top: 2px;
}

#global-header #logo img {
  display: none;
}

.panel-border-narrow {
  border-left-style: none;
  padding: 0;
  margin-top: 30px !important;
}

.margin-bottom-shrink {
    margin-bottom: 2px;
}

.display {
  &--inline-block {
    display: inline-block;
  }
}

// timeout overrides
.tabular-numbers {
  font-family: "GDS Transport";
}

// link overrides
@media (max-width: 1024px) {
  .govuk-link {
    overflow-wrap: break-word;
  }
}

@media (max-width: 640px) {
  .submit-link {
    font-size: 16px;
  }
}
