{% from "govuk/components/button/macro.njk" import govukButton with context %}

{% macro cookieBanner() %}
    {% include 'partials/cookie-banner.njk' %}
{% endmacro %}

{%- macro fmtTitle(titleKey) %}
  {{t(titleKey)}} - {{t('app:serviceName')}} - {{t('app:govukTagline')}}
{%- endmacro %}
